<launch>
 <arg name="model" value="$(optenv TURTLEBOT3_MODEL burger)" />
 <arg name="map_file" default="$(find turtlebot3_navigation)/maps/(optenv map_file map.yaml)"/>
 <arg name="open_rviz" default="true"/>
 <arg name="move_forward_only" default="false"/>

  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  
  <include file="$(find gmcl)/launch/gmcl_diff.launch"/>

  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
   <param name="robot_base_frame" value="base_link"/>
   <param name="costmap_topic" value="map"/>
   <param name="costmap_updates_topic" value="map_updates"/>
   <param name="visualize" value="true"/>
   <param name="planner_frequency" value="0.7"/>
   <param name="progress_timeout" value="100.0"/>
   <param name="potential_scale" value="3.0"/>
   <param name="orientation_scale" value="0.0"/>
   <param name="gain_scale" value="1.0"/>
   <param name="transform_tolerance" value="0.3"/>
   <param name="min_frontier_size" value="0.1"/>
  </node>
  
 </launch>
